body {
  background-color: black;
  background-image: url("./assets/STARS.gif");
  color: white;
  padding: 20px;
}

* {
  box-sizing: border-box;
}
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.fakeimg {
  width: 100%;
  padding: 20px;
}

.card {
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.footer-images {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.marquee {
  height: 75px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #e9e5fb;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 8px 0 4px 0;
}

.marquee .marqueeone {
  color: red;
  animation: marquee 10s linear infinite;
}

.marquee .marqueetwo {
  color: red;
  animation: marquee 10s linear 3.5s infinite;
}

.marquee .marqueethree {
  color: red;
  animation: marquee 10s linear 7s infinite;
}

.marquee .marqueefour {
  color: red;
  animation: marquee 10s linear 10.5s infinite;
}

.marquee div {
  position: absolute;
  width: 100%;
  left: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marquee:hover div {
  animation-play-state: paused;
}

.video-container {
  display: flex;
  justify-content: center;
  transform: rotate(4deg) scaleX(1);
}

.main-logo-img {
  width: 45%;
}

.lol {
  position: absolute;
  top: 0;
}

/* add delay at the end of animation so you dont start while another div is going */
@keyframes marquee {
  0% {
    left: 100%;
  }
  50% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}

/* Bands in town widget */

.bit-html-export {
  width: 100%;
  background: #fff;
  font-family: Arial;
  color: black;
  font-size: 12px;
}
.bit-table {
  width: 100%;
}
.bit-table td {
  padding: 7px 10px;
  vertical-align: middle;
}

.bit-table a {
  color: #00b4b3;
  text-decoration: none;
}

/* alternate row background color */
.bit-table tr:nth-of-type(2n) {
  background: #eee;
}

/* separate line between rows */
/* .bit-table tr td { border-bottom: 1px solid #ccc } */

.bit-table .bit-cta {
  text-align: center;
  width: 25%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
