body {
  background-color: black;
  background-image: url("./assets/STARS.gif");
  color: white;
  padding: 20px;
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.header {
  padding: 30px;
  font-size: 5vw;
  text-align: center;
}

.leftcolumn,
.middlecolumn,
.rightcolumn {
  float: left;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middlecolumn {
  padding: 20px;
  box-sizing: border-box;
}

.rightcolumn {
  padding-left: 20px;
}

.card {
  padding: 20px;
  margin-top: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  clear: both;
  align-items: center;
}

.footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.footer-images {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.marquee {
  height: 75px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #e9e5fb;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 8px 0 4px 0;
}

.marquee .marqueeone,
.marquee .marqueetwo,
.marquee .marqueethree,
.marquee .marqueefour {
  color: red;
  position: absolute;
  width: 100%;
  left: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: marquee 10s linear infinite;
}

.marquee .marqueetwo {
  animation-delay: 3.5s;
}

.marquee .marqueethree {
  animation-delay: 7s;
}

.marquee .marqueefour {
  animation-delay: 10.5s;
}

.marquee:hover div {
  animation-play-state: paused;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  transform: rotate(4deg) scaleX(1);
}

iframe {
  width: 100%;
  height: auto;
  max-width: 560px;
  aspect-ratio: 16 / 9;
}

.main-logo-img {
  width: 100%;
}

.lol {
  position: absolute;
  top: 0;
}

// bands in town widget

.bit-html-export {
  width: 100%;
  background: #fff;
  font-family: Arial;
  color: black;
  font-size: 12px;
}
.bit-table {
  width: 100%;
  margin-top: 5rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.bit-table td {
  padding: 7px 10px;
  vertical-align: middle;
}

.bit-table a {
  color: #00b4b3;
  text-decoration: none;
}

/* alternate row background color */
.bit-table tr:nth-of-type(2n) {
  background: #1d1d1d;
}

/* separate line between rows */
/* .bit-table tr td { border-bottom: 1px solid #ccc } */

.bit-table .bit-cta {
  text-align: center;
  width: 25%;
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  50% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}

@media screen and (max-width: 800px) {
  .row {
    flex-direction: column;
  }
  .leftcolumn,
  .middlecolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
    float: none;
  }
  .middlecolumn {
    order: -1;
  }
  header,
  .card,
  .footer,
  .video-container,
  .footer-images,
  .marquee {
    text-align: center;
  }
  .card img,
  .footer img,
  .main-logo-img {
    display: block;
    margin: auto;
  }
  .video-container,
  .footer-images {
    flex-direction: column;
  }
}
